GEMINI_API_KEY=
VOX_DEV_WALLET_ADDRESS=
VOX_DEV_WALLET_PRIVATE_KEY=
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_API_PASSPHRASE=
VOX_SESSION_PRIVATE_KEY=
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
VOX_ENABLE_TESTNET_FUNDING=false
